.main_news {
  width: 40vw;
  height: 65vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 30px;

  background-color: #ccc;
  border-radius: 15px 15px 0 0;

  overflow-y: scroll;
  scrollbar-width: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.907);
  border-radius: 3px;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
  padding: 0;

  font-size: 20px;
}

.reload {
  font-size: 16px;
  text-decoration: underline;

  cursor: pointer;
}

article {
  margin: 10px 20px;
}

h2 {
  font-size: 18px;
}

.preview_img {
  width: 80px;
  height: 54px;
}

.article_preview {
  display: flex;
}

p {
  padding: 2px;
  margin: 3px;

  line-height: 25px;
}

footer {
  width: 40vw;
  height: 5vh;
  /* margin-top: 10px; */
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;

  color: #ccc;
  text-align: center;
  line-height: 5vh;

  background-color: black;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 -10px 7px rgba(0, 0, 0, 0.2);
}

a {
  font-weight: 600;
  text-decoration: none;
  color: #ccc;
}
